<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--别名-->
    <typeAliases>
        <typeAlias type="utour.travel.pojo.User" alias="User"/>
    </typeAliases>
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"/>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${username}"/>-->
                <!--<property name="password" value="${password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <!--指定接口的实现映射文件；如果此处未指定，可以在配置SqlSessionFactory时，通过SqlSessionFactory的mapperLocations属性配置 -->
    <!--<mappers>-->
        <!--<mapper resource="com/happybyte/me/mappings/UserDaoMapper.xml"/>-->
    <!--</mappers>-->
</configuration>
