<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="utour.travel.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="utour.travel.pojo.Department">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
  </resultMap>
  <select id="pageListByCondition1">
      SELECT Id,Name FROM Department
      <where>
          <if test="name != null and name != ''">
              countryname like concat('%',concat(#{name}, '%'))
          </if>
          <if test="id != null">
              and id = #{id}
          </if>
      </where>
  </select>
</mapper>